
/* Joe's tooltipText styling */

/* .from-details {
  cursor: pointer;
}
.from-details:hover::after {
  content: attr(hoverText);
  background-color: yellow;
  border: groove;
  font-weight: bold;
  color: rgb(3, 3, 3);
  margin-left: 10px;
} */