.resetPasswordBtn {
  margin-top: 3em;
  margin-bottom: 3em;
  width: fit-content;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.viewAccSpanLine {
  margin-top: 1em;
}

.ifBtnSpanLine {
  margin-top: 1em;
  margin-bottom: 1em;
}

.hyperlink {
  color: #4183C4;
}

.hyperlink:hover {
  text-decoration: underline;
}

.sideIndent {
  margin-left: 5px;
  margin-right: 5px;
}

.txtResize {
  font-size: 1.5vw;
}

.headerLineBreak {
  border: 2px solid rgb(134,134,126);
}