.game_name {
  background-color: rgba(183, 196, 205, 0.454);
  width: 100%;
  height: 5vh;
  justify-content: left;
  align-items: center;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 23px;
  color: rgb(8, 8, 35);
  margin-left: auto;
}  

.Question_Banner {
  background-color: rgba(43, 44, 58, 0.537);
  width: 100%;
  height: 5vh;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: auto;
}

.context_email {
  display: flex;
  width: 100%;
}

.context_area {
  background-color: rgba(37, 117, 136, 0.223);
  width: 30%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  color: black;
  position: relative;
  flex: 1;
}

.email_area {
  background-color: rgba(43, 168, 199, 0.223);
  width: 70%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: black;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;

}

.samp_email {
  height: 100%;
  width: 100%;
  
}

.selections {
  height: 20vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.phish_button {
  background-color: rgb(103, 61, 61);
  color: white;
  position: relative;
  flex: 1;
  height: 8vh;
  width: 40%;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 15px;
  border-style: hidden;
}

.real_button {
  background-color: rgb(71, 95, 71);
  color: white;
  position: relative;
  height: 8vh;
  width: 40%;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 15px;
  border-style: hidden;
}

.prev_button {
  background-color: rgb(160, 159, 159);
  color: white;
  height: 8vh;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
  border-style: hidden;
  display: none;
}

.next_button {
  background-color: rgb(160, 159, 159);
  color: white;
  height: 8vh;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
  border-style: hidden;
}

.selected_choice {
  color: rgba(67, 25, 122, 0.517);
  font-size: 22px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}



