body {
    background-color: rgba(37, 117, 136, 0.223);
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
  
}
.container {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    padding: 40px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    border: 8px solid #165191
}
.header{
    font-size: 3rem;
    top:20px;
    left:0;
    right:0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.instructions{
    text-align: center;
    font-size: 1.5rem;
}
.prePAT{
    background-color: #165191;
    margin-top: 2rem;    
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
}
.PAT{
    display: none;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    padding: 40px;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    border: 8px solid #165191;
}
.password-strength-box{
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
}
#submitButton {
    font-size: 1.3rem;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    margin: 15px;
    background-color: #165191;
    border-radius: 3px;
    padding: 5px;
    color: white;
}
#skipButton {
    font-size: 1.3rem;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    background-color: #165191;
    border-radius: 3px;
    padding: 5px;
    color: white;
}
