.centerText {
  text-align: center;
}

.viewInvite {
  background: rgb(26, 120, 171);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
}

.hyperlink {
  color: #4183C4;
}

.hyperlink:hover {
  text-decoration: underline;
}

.boldText {
  font-weight: bolder;
}

.lnbreak {
  border: 1px solid;
}

.subjectLine {
  font-size: 20px;
}

.headerLineBreak {
  border: 2px solid rgb(134,134,126);
}

.txtResize {
  font-size: 1.5vw;
}

.sideIndent {
  margin-left: 5px;
  margin-right: 5px;
}