#phone_screen {
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 685px;
    max-width: 400px;
    min-width: 400px !important;
    max-height: 685px;
    min-height: 685px;
    display: inline-block;
    background-image: url('images/phone_screen.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px 685px;
    background-color: transparent;
}
#prof_pic {
    position: absolute;
    width: 57.5px;
    min-width: 57.5px;
    max-width: 57.5px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    margin-left: 171px; 
    margin-top: 37px;
}
#sender {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    position: absolute;
    margin-top: 86px;
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    text-align: center;
}
#message {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13.5px;
    margin-top: 152px;
    margin-left: 27px;
    width: 258px;
    max-width: 258px;
    min-height: 258px;
    height: 210px;
    max-height: 210px;
    min-height: 210px;
    padding: 5px;
}



