/* set a background color */
body
{
    background-color: rgba(37, 117, 136, 0.223);
    display: grid;
    place-items: center;
}
.page_title 
{
    font-size: 84px;
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.button
{
    background-color: #165191;
    color: white;
    padding: 1.5rem;
    width: 20rem;
    cursor: pointer;
    text-align:center;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
}
.button2
{
    background-color: #165191;
    color: white;
    padding: 1.5rem;
    margin-top: 2rem;
    width: 20rem;
    cursor: pointer;
    text-align:center;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
}