/* set a background color */
body
{
    background-color: rgba(37, 117, 136, 0.223);
    display: grid;
    place-items: center;
}
.page_title 
{
    font-size: 84px;
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.button
{
    background-color: #165191;
    color: white;
    padding: 1.5rem;
    width: 20rem;
    cursor: pointer;
    text-align:center;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#howToPlay
{
    color: black;
    margin-top: 5rem;
    padding-left: 15px;
    text-align: left;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-bottom: 0px;
    max-width: 60%;
    width: 60%;

}
#instructions {
    max-width: 60%;
    font-family: Courier, monospace;
    font-weight: 500;
    margin-top: 0px;
    font-size: 19px;

}
.instruction {
    margin-top: 10px;
    margin-bottom: 10px;
}
.txtResize {
    font-size: 1.25vw;
}